/* colour palette:
#F7E2E2
#61A4BC
#5B7DB1
#1A132F */

a {
text-align: center;
position: relative;
color: #F7E2E2;
width: 30%;
z-index: 1;
font-size: small;
margin: 0;
padding: 0;
text-decoration: none;
}
a:hover {color: #61A4BC;}

#attributions {
position: absolute;
bottom: 10px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

.blue-mountain {
object-fit: cover;
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
}

body {
margin: 0;
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
background-color: #5B7DB1;
}

.btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #F7E2E2;
  background: #1A132F;
  padding: 12px 25px 12px 25px;
  text-decoration: none;
  font-size: medium;
  display: inline-block;
  width: 10%;
}
.btn:hover {
  background: #61A4BC;
  font-weight: bold;
  color: #F7E2E2;
}

.center-para {
width: 70%;
text-align: center;
margin-left: auto;
margin-right: auto;
color: #1A132F;
}

div {
margin: 0;
text-align: center;

background-color: #5B7DB1;
color: #1A132F;
}

.footer {
background-image: url('Images/mountains-blue.png');
background-size: cover;
position: relative;
overflow: hidden;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
min-height: 100px;
}

#footer-c {
position: absolute;
color: #F7E2E2;
width: 50%;
z-index: 1;
bottom: 150px;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
font-size: small;
}

h1 {
margin-top: 0;
margin-bottom: 0;
padding: 5px;
font-family: 'Sacramento', cursive;
font-size: 400%;
}

h2 {
font-family: 'Syne', sans-serif;
text-decoration: underline;
color: #1A132F;
padding-top: 2%;
}

h3 {font-family: 'Syne', sans-serif;}

.high-cloud {
position: absolute;
left: 80px;
top: 40px;
width: 20%;
}

hr {
width: 30%;
border-style: dashed;
border-color: #1A132F;
border-width: 1px;
}

/* icons for work experiance */
.icon {
border-radius: 100%;
width: 30%;
height: 30%;
}

#linkedin-link {
display: block;
font-size: medium;
position: relative;
margin-right: auto;
margin-left: auto;
padding-top: 1%;
}

.low-cloud {
position: absolute;
right: 13%;
bottom: 50%;
width: 15%;
}

.mountain {
position: relative;

right: auto;
left: auto;
width: 75%;
}

/* blocks */
.S1 {
background-color: #61A4BC;
position: relative;
padding-top: 20%;
padding-bottom: 0;
}

.S2 {
position: relative;
padding: 0;
margin: 0;
background-color: #5B7DB1;
}

.S3 {
background-colour: #1A132F;
position: relative;
padding: 0;
margin: 0;
}

#skills {
margin-left: 15%;
margin-right: 15%;
width: 85%;
}

.skill-icons {
padding-right: 10px;
padding-left: 10px;
text-align: center;
}

table {
text-align: left;
color: #F7E2E2;
margin-left: 15%;
margin-right: 15%;
width: 90%;
padding-right: 20%;
}

ul {
text-align: left;
color: #F7E2E2;
line-height: 1.55;
}
